{% extends "base.html" %}
{% block title %}Search Result{% end %}
{% block body %}
<div class="container-fluid">
    <div class="bg"></div>
    <div class="jumbotron">
        <h1>Welcome to CraiGrocery</h1>
        <h3>Singapore's one-stop supermarket search engine</h3>
        <br/>
        <br/>
        
        <form class="form-horizontal" role="form" action="/search" method="get">
            <div class="form-group">
                <div class="col-sm-offset-2  col-sm-7">
                    <input id="mainInputBox" type="text" class="form-control input-lg" name="keyword" placeholder="eg. banana" autofocus>
                    <input type="hidden" name="sort" value="key">
                    <input type="hidden" name="order" value="1">
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% end %}
{% block custm_css_js %}
<!-- customized css/js -->
<script src="/static/javascript/index_script.js"></script>
<link rel="stylesheet" href="/static/css/index_style.css">
{% end %}