{% extends "base.html" %}
{% block title %} {{page_title}} {% end %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-xs-4">
			<img class="img-responsive" src="{{ product['small_img'] }}" alt="" width="100%">
		</div>
		<div class="col-sm-9 col-xs-8">
			<div class="thumbnail">
				<div class="caption-full">
					<h2>{{ product['brand'] }} {{ product['title'] }}
					</h2>
					<h2>{{ product['quantity'] }} {{ product['unit'] }}
					</h2>
					<br />
					<p>
						{{ product['promo'] }}
					</p>
					<font size="8" color="blue">S${{ product['now_price'] }}</font>
					<a href="{{ product['website'] }}">
						{% if product['merchant'] == 'Giant' %}
							<img src="https://giantonline.com.sg/media/css/images/custom/logo.png" width="80"> {% elif product['merchant'] == 'Fairprice' %}
							<img src="http://www.greatnewplaces.com/images/Stores/img1861_04052011115309.jpeg" width="120"> {% elif product['merchant'] == 'Coldstorage' %}
							<img src="http://files.campus.edublogs.org/blog.nus.edu.sg/dist/4/2292/files/2012/08/cs_logo_w_colour_code_-1d5b28d.jpg" width="120">
						{% end %}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% end %}
{% block custm_css_js %}
<!-- customized css/js -->
{% end %}